config/matugen/output/
config/mihomo/config.yaml
/config/mihomo/cache.db
/config/mihomo/geoip.metadb
/assets/wallpaper/1-blur.png
/assets/wallpaper/1.png
/config/emacs/org
/config/emacs/eln-cache/30.2-25d713cb
/config/emacs/straight
